h1 {
     color: black;
     background: linear-gradient(to right, #20d38c, #1c69ed, #8a32cd, #de0e98);
     -webkit-background-clip: text;   /* Chrome, Safari, Edge */
     -webkit-text-fill-color: transparent; /* Chrome, Safari, Edge */
     background-clip: text;           /* Firefox */
     color: transparent;
    font-size: 30px;
    
} 
fieldset {
    width: 600px;
}